# Coursera_Capstone Project
## This Notebook will be mainly used for capstone project from coursera

In [13]:
import pandas as pd
import numpy as np
import bs4 as bs
import requests
import urllib2
print("Hello Capstone Project Course!")

ModuleNotFoundError: No module named 'urllib2'

# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

## we will be scraping data from wikipedia and creating a dataframe

In [26]:
url= 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&direction=prev&oldid=926287641'
table = pd.read_html(url)
# creating soup object

# for df in dfs:
#     if df.columns == ['#', 'Team', 'MP', 'W', 'D', 'L', 'Points']:
#         the_one = df
#         break

# res = requests.get(url)
# # re2= urllib2.urlopen(url)
# soup = bs.BeautifulSoup(res.content,"lxml")
print(table[0])

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

In [23]:
# # soup = bs.BeautifulSoup(table,'lxml')

# table_contents=[]
# table=soup.find('table')
# for row in table.findAll('td'):
#     cell = {}
#     if row.span.text=='Not assigned':
#         pass
#     else:
#         cell['PostalCode'] = row.p.text[:3]
#         cell['Borough'] = (row.span.text).split('(')[0]
#         cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
#         table_contents.append(cell)

# # print(table_contents)
# df=pd.DataFrame(table_contents)
# df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
#                                              'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
#                                              'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
#                                              'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

AttributeError: 'NoneType' object has no attribute 'text'

In [27]:
df=pd.DataFrame(table[0])
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [35]:
df = df[df['Borough'] != 'Not assigned']

# df.reset_index(inplace=True)
# df.drop(['index'])
df.head()

   level_0  index Postcode           Borough     Neighbourhood
0        0      2      M3A        North York         Parkwoods
1        1      3      M4A        North York  Victoria Village
2        2      4      M5A  Downtown Toronto      Harbourfront
3        3      5      M5A  Downtown Toronto       Regent Park
4        4      6      M6A        North York  Lawrence Heights

In [36]:
df.drop(['level_0','index'], axis=1)

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M5A  Downtown Toronto               Regent Park
4        M6A        North York          Lawrence Heights
..       ...               ...                       ...
206      M8Z         Etobicoke  Kingsway Park South West
207      M8Z         Etobicoke                 Mimico NW
208      M8Z         Etobicoke        The Queensway West
209      M8Z         Etobicoke     Royal York South West
210      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

In [42]:
# Load coordinate data from CSV
geo_df = pd.read_csv(r'C:\Users\hp\Downloads\Geospatial_Coordinates.csv')
# This assumes that the postal code column in your main dataframe is labelled 'PostalCode', this renames the column from the geo csv so the merge can happen automatically and cleanly
geo_df = geo_df.rename({'Postal Code':'Postcode'}, axis=1)

# Merge coordinates into neighbourhood dataframe
df = df.merge(geo_df, on='Postcode')
df

,level_0,index,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,0,2,M3A,North York,Parkwoods,43.753259,-79.329656
1,1,3,M4A,North York,Victoria Village,43.725882,-79.315572
2,2,4,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,3,5,M5A,Downtown Toronto,Regent Park,43.654260,-79.360636
4,4,6,M6A,North York,Lawrence Heights,43.718518,-79.464763
...,...,...,...,...,...,...,...
206,206,282,M8Z,Etobicoke,Kingsway Park South West,43.628841,-79.520999
207,207,283,M8Z,Etobicoke,Mimico NW,43.628841,-79.520999
208,208,284,M8Z,Etobicoke,The Queensway West,43.628841,-79.520999
209,209,285,M8Z,Etobicoke,Royal York South West,43.628841,-79.520999
210,210,286,M8Z,Etobicoke,South of Bloor,43.628841,-79.520999

In [43]:
df.drop(['level_0','index'], axis=1,inplace=True)
df.head()

  Postcode           Borough     Neighbourhood   Latitude  Longitude
0      M3A        North York         Parkwoods  43.753259 -79.329656
1      M4A        North York  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3      M5A  Downtown Toronto       Regent Park  43.654260 -79.360636
4      M6A        North York  Lawrence Heights  43.718518 -79.464763